	* {
	    	font-family: "Roboto";
	}
	a {
		text-decoration: none;
	}
	body {
		background: url("background/background_02.png") no-repeat center center fixed;
		background-size: cover;

	}
	#container {
		height: 350px;
		width: 80%;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		margin: auto !important;
		text-align: center;
	}
	#container .box {
		height: 100%;
		display: inline-block;
	}
	#container #left_box {
		width: 20%;
		float: left;
	}
	#container #left_box .box_list {
		background: #FFF;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		color: #FFF;
		font-family: "Bebas Neue";
		font-size: 16pt;
		font-weight: bold;
		letter-spacing: 1px;
		text-decoration: none;
		height: 14.5%;
		width: 100%;
		margin-bottom: 9px;
		line-height: 51px;
	}
	.box_list_text{
		color: #FFF;
		font-family: "Bebas Neue";
		font-size: 16pt;
		font-weight: bold;
		letter-spacing: 1px;
		text-decoration: none;
	}
	#container #left_box .box_list ul{
		display: none;
		position: relative;
		border-radius: 1px;
		line-height: 40px;
	}
	#container #left_box .box_list:hover, #container #left_box .box_list_text:hover{
		color: #FAC0DE;
	}
	/*#container #left_box .box_list #game_list{
		background-color: #1C0C3E;
	}
	#container #left_box .box_list #art_list{
		background-color: #230B3B;
	}
	#container #left_box .box_list #fourchan_list{
		background-color: #2A0B38;
	}
	#container #left_box .box_list #halfchan_list{
		background-color: #130D41;
	}
	#container #left_box .box_list #reddit_list{
		background-color: #130D41;
	}*/
	#container #left_box .box_list #fourchan_list,
	#container #left_box .box_list #halfchan_list{
		columns: 2;
	}
	#container #left_box .box_list #game_list,
	#container #left_box .box_list #art_list,
	#container #left_box .box_list #reddit_list{
		line-height: 30px;
	}
	#container #left_box .box_list .dropdown_content{
		color: #FFF;
		font-family: "Bebas Neue";
		font-size: 12pt;
		font-weight: bold;
		letter-spacing: 1px;
		text-decoration: none;

	}
	#container #left_box .box_list .dropdown_content:hover{
		color: #FAC0DE;
	}
	#container #left_box li:hover ul {
		display: block;
	}
	#container #left_box li {
		position: relative;
		list-style: none;
	}
	#container #left_box .box_list li {
		display: block;
		list-style: none;
	}
	#container #left_box ul, #container #left_box .box_list ul {
		margin-top:0;
		padding: 0;
	}
	#container #center_box {
		background: no-repeat url("illustration/l4.jpg") center !important;
		background-size: cover !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		width: 58.5%;
		overflow: hidden;
	}
	#container #center_box #searchbox {
		background: rgba(0,0,0,.20);
		border: none;
		color: #FFF;
		font-family: "Roboto" , "ぼくたちのゴシック２ボールド";
		font-size: 14pt;
		font-stretch: condensed;
		line-height: 60px !important;
		height: 60px;
		width: 100%;
		padding: 0px 25px !important;
		margin-top: 400px;
		transition: all .3s ease-in-out !important;
	}
	#container #center_box #searchbox:focus {
		background: rgba(1,0,2,.40);
		transition: all .3s ease-in-out !important;
	}
	#container #right_box {
		background: no-repeat url("illustration/l5.jpg") center;
		background-size: cover;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		height: 100%;
		width: 20%;
		float: right;
	}
	#container #right_box #time_box {
		color: #FFF;
		font-family: "Roboto";
		font-size: 20pt;
		font-weight: lighter;
		text-shadow: 2px 2px rgba(62, 70, 81, .3) !important;
		line-height: 100px;
		width: 100%;
		margin: auto !important;
	}
	#container #right_box #day_box {
		color: #FFF;
		font-family: "Pacifico";
		font-size: 30pt;
		line-height: 0px;
		text-shadow: 3px 3px rgba(62, 70, 81, .3) !important;
		margin-top: 185px;
	}
	#container #right_box #social_box {
		width: 100%;
		text-align: center;
		position: relative;
		margin-top: 30px;
	}
	#container #right_box #social_box .box_list {
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		height: 25px;
		width: 25px;
		float: bottom;
		display: inline-block;
		list-style: none;
	}
	#container #right_box #social_box #normy {
		float: left;
		margin-left: 10px;
	}
	#container #right_box #social_box #nooty {
		float: right;
		margin-right: 10px;
	}
